body{
    background-color: black;
}


.Counter{
    text-align: center;
}

.Counter div{
    display: inline-block;
    font-size: 200px;
    color: white;
    background: black;
    margin: 20px;
}
